<link rel="stylesheet" href="/styles/main.css">


<footer>

  <div class="footerForm">
     <p>Contact Us</p>
    <form action="POST" > 
      <input type="text" placeholder="Full-Name" name="username" >
      <input type="email" placeholder="Email" name="useremail">
      <textarea name="content" id="content" placeholder="Your message here"></textarea>
  </form>
  <button class="heroButton">
    Send 
  </button>
  </div>
  <small>copyright©️Udemypractice@blogApp <%= new Date() .getFullYear() %></small> 
</footer>