<%- include ("partials/header.ejs") %>

<main>
    <div class="about">
        <h1>About This Blog Post App</h1>
        <p>This blog post app is designed to provide a simple and user-friendly 
            platform for creating, editing, and deleting blog posts. It aims to 
            empower users to share their thoughts and ideas in an organized manner. 
            Whether you’re a casual writer or a seasoned blogger, 
            this app makes it easy to manage your content efficiently.
        </p>
        <p>
            The app includes several key features that enhance the user experience. Users 
            can easily create new blog posts, allowing for creativity and self-expression. 
            Editing existing posts is straightforward, giving users the flexibility to update 
            their content as needed. Additionally, the delete function ensures that users can 
            maintain control over their published work.
        </p>
        <p>
            Built using Node.js, EJS, HTML, and CSS, this application leverages the power of 
            JavaScript on the server side while providing dynamic content rendering through EJS
             templates. The combination of these technologies enables a responsive and engaging user
             experience.
        </p>
        <p>
            As the author of this project, I am passionate about web development and continuously 
            strive to enhance my skills. This app is a reflection of my learning journey and serves 
            as a foundation for future projects. I hope to expand its capabilities by incorporating 
            user authentication, a comment section for posts, and improved UI design.
        </p>
    </div>
</main>
<%- include ("partials/footer.ejs") %>

