<%- include ("partials/header.ejs") %>

<main>
    <form action="/submit" method="POST" class="blogForm"> 
        <div class="users">
                <input type="text" placeholder="User Name" name="userName" >
                <input type="email" placeholder="User Email" name="userEmail">
        </div>
        <div class="users">
        <input type="text" placeholder="Title " name="title">
        <textarea name="content" id="content" cols="30" rows="10" placeholder="Your content here."></textarea>
        <input type="text" name="createdOn" placeholder="Created Date: dd/mm/yyyy">
        </div>
        <input type="submit" value="Create">
    </form>
  
</main>
<%- include ("partials/footer.ejs") %>

