<%- include ("partials/header.ejs") %>
<form action="POST" class="form"> 
    <input type="text" placeholder="User Name" name="username" >
    <input type="text" placeholder="User Email" name="useremail">
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
</form>

<%- include ("partials/footer.ejs") %>

