<%- include ("partials/header.ejs") %>

<main>
    <form action="/submit" method="POST" class="blogForm"> 
        <div class="users">
                <input type="text" placeholder="User Name" name="userName" >
                <input type="email" placeholder="User Email" name="userEmail">
                <input type="img" placeholder="userImg" >
        </div>
        <div class="users">
        <input type="text" placeholder="Title " name="title">
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <p name="createdOn">Created on: <%= (new Date() .getDate()) + "/" + (new Date() .getMonth()) + "/" + (new Date() .getFullYear())  %></p>
        </div>
        <input type="submit" value="Create" >
    </form>
  
</main>
<%- include ("partials/footer.ejs") %>

