<%- include ("partials/header.ejs") %>

<main>
    <h2>Edit your Blog</h2>
    <form action="/get" method="POST" class="blogForm"> 
        <div class="users">
                <input type="text" placeholder="User Name" name="userName" required>
                <input type="email" placeholder="User Email" name="userEmail" required>
        </div>
        <div class="users">
        <input type="text" placeholder="Title " name="title" required>
        <textarea name="content" id="content" cols="30" rows="10" placeholder="Your content here." required></textarea>
        <input type="text" name="createdOn" placeholder="Created Date: dd/mm/yyyy" requirednodemon>
        </div>
        <button type="submit" class="heroButton">Save Changes</button>
    </form>
  
</main>
<%- include ("partials/footer.ejs") %>

