<%- include ("partials/header.ejs") %>
<main>

<div class="herobanner">
    <div class="quote">
        <h2>
            "Welcome to our Blog App! Share your thoughts, connect with a 
            vibrant community, and unleash your creativity. Start 
            your blogging journey and inspire others with your unique voice!"
        </h2>
        <button>Get Started</button>
    </div>
    <div>
        <img src="/assets/blog.png" alt="heroImg" class="heroImg" >
    </div>
    
</div>

</main>

<%- include ("partials/footer.ejs") %>

