<%- include ("partials/header.ejs") %>
<main>

<div class="herobanner">
    <div class="quote">
        <h2>
            "Welcome to our Blog App! Share your thoughts, connect with a 
            vibrant community, and unleash your creativity. Start 
            your blogging journey and inspire others with your unique voice!"
        </h2>
       
        <button><a href="/create">Get Started</a></button>
       
    </div>
    <div>
        <img src="/assets/blog.png" alt="heroImg" class="heroImg" >
    </div>   
</div>
<h2>Blogs </h2>
<div class="featuredCards"> 
    <div class="blogCard">
        <div>
            <h3>Title</h3>
            <p>Blog content</p>
        </div>
        <div>
            <small>username</small>
            <small>useremail</small>
            <img src="" alt="" class="userImg">
        </div>
    </div>    
   
</div>    

</main>

<%- include ("partials/footer.ejs") %>

